<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="G:/Project/Skyscanner_API">
        <classes>
            <class name="Flights_Indicative_Prices_POST"/>
            <class name="Geo_GET"/>
            <class name="Geo_POST"/>
            <class name="Autosuggest_POST"/>
            <class name="Carriers_GET"/>
        </classes>
    </test>
</suite>